# Tuple

# Tuple Creation

In [6]:
t1 = () # empty tuple is created
t1

()

In [10]:
t2 = (10,20,30) # tuple of int data type values are created
t2

(10, 20, 30)

In [14]:
t3 = (10.05,20.06,30.07) # tuple of float data type values are created
t3

(10.05, 20.06, 30.07)

In [16]:
t4 = ('one','two','three') # tuple of string data type values are created
t4

('one', 'two', 'three')

In [18]:
t5 = ('a',25,(50,100),(150,90)) # this is called nested tuple
t5

('a', 25, (50, 100), (150, 90))

In [20]:
t6 = (100,'a',25.65) # tuple of mixed data type values are created
t6

(100, 'a', 25.65)

# Tuple Indexing

In [23]:
t2

(10, 20, 30)

In [25]:
t2[0] # returns the first element of the tuple

10

In [27]:
t4

('one', 'two', 'three')

In [29]:
t4[0] # returns the first element of the tuple

'one'

In [35]:
t4[0][0] # returns the first character of the first tuple value, known as nested indexing

'o'

In [37]:
t4[-1] # returns the last value of the tuple, knows as backward indexing

'three'

# Tuple Slicing

In [40]:
t = ('one','two','three', 'four', 'five', 'six', 'seven', 'eight')
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [42]:
t[0:3] # returns the values from zeroth index to n-1 index (3-1=2) index

('one', 'two', 'three')

In [44]:
t[2:5] # return the values from 2nd index to n-1 index (5-1=4) index

('three', 'four', 'five')

In [46]:
t[:3] # returns the values from start to n-1 index (3-1=2) index

('one', 'two', 'three')

In [48]:
t[:2] # returns the values from start to n-1 index (2-1=1) index

('one', 'two')

In [50]:
t[-3:] # returns the values from last to -3 index

('six', 'seven', 'eight')

In [52]:
t[-2:] # returns the values from last to -2 index

('seven', 'eight')

In [54]:
t[:] # returns entire values in the tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove and Change Items

In [57]:
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [59]:
del t[0] # tuple are immutable, we cannot DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [61]:
t[0] = 1 # tuple are immutable, we cannot CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [63]:
del t # DELETE entrire tuple is possible, but not values inside a tuple

# Loop Through a Tuple

In [68]:
t = ('one','two','three', 'four', 'five', 'six', 'seven', 'eight')
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [72]:
for i in t: # prints all the values in the tuple
    print(i)

one
two
three
four
five
six
seven
eight

In [74]:
for i in enumerate(t): # prints all the values with their index in a tuple
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [77]:
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [79]:
'one' in t # checks whether the given value is present in the tuple or not

True

In [83]:
'ten' in t # checks whether the given value is present in the tuple or not

False

In [87]:
if 'three' in t: # checks whether the given value is present in the tuple or not, using if-else loop
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [91]:
if 'eleven' in t: # checks whether the given value is present in the tuple or not, using if-else loop
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

Eleven is not present in the tuple

# Index Position

In [96]:
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [98]:
t.index('one') # returns the index of the given parameter/argument (value)

0

In [100]:
t.index('eight') # returns the index of the given parameter/argument (value)

7

# Sorting

In [103]:
t7 = (43,67,99,12,6,90,67)
t7

(43, 67, 99, 12, 6, 90, 67)

In [109]:
sorted(t7) # returns a sorted list

[6, 12, 43, 67, 67, 90, 99]

In [111]:
sorted(t7, reverse = True) # retuens a sorted list in descending order

[99, 90, 67, 67, 43, 12, 6]