# Set

# Set Creation

In [5]:
s = {1,2,3,4,5} # set creation -> int data type
s

{1, 2, 3, 4, 5}

In [7]:
len(s) # returns the length of the set

5

In [9]:
s1 = {1,1,2,2,3,4,5,5} # duplicate values are not allowed, hence it prints the set without duplicate values
s1

{1, 2, 3, 4, 5}

In [11]:
s2 = {1.79,2.08,3.99,4.56,5.45} # set creation -> float data type
s2

{1.79, 2.08, 3.99, 4.56, 5.45}

In [13]:
s3 = {'Asif' , 'John' , 'Tyrion'} # set creation -> string data type
s3

{'Asif', 'John', 'Tyrion'}

In [15]:
s4 = {10,20,'Hi',(1,2,3)} # set of mixed data types
s4

{(1, 2, 3), 10, 20, 'Hi'}

In [19]:
s4 = {10,20,'Hi',[1,2,3]} # set does not allow mutable items like list
s4

TypeError: unhashable type: 'list'

In [21]:
s4 = set() # creates an empty set
print(type(s4))

<class 'set'>

# Loop Through a Set

In [72]:
s5 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [74]:
for i in s5: # prints all the values in the set
    print(i)

six
eight
two
three
five
four
one
seven

In [76]:
for i in enumerate(s5): # prints all the values in the set with their index
    print(i)

(0, 'six')
(1, 'eight')
(2, 'two')
(3, 'three')
(4, 'five')
(5, 'four')
(6, 'one')
(7, 'seven')

# Set Membership

In [79]:
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [81]:
'one' in s5 # checks whether the given value is present in the set or not

True

In [83]:
'ten' in s5 # checks whether the given value is present in the set or not

False

In [85]:
if 'two'in s5: # checks whether the given value is present in the set or not, using if-else loop
    print("Two is present in s5")
else:
    print("Two is not present in s5")

Two is present in s5

In [87]:
if 'eleven'in s5: # checks whether the given value is present in the set or not, using if-else loop
    print("Eleven is present in s5")
else:
    print("Eleven is not present in s5")

Eleven is not present in s5

# Add and Remove Items

In [90]:
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [92]:
s5.add('nine') # ADD function is used to add a value to the set
s5

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [96]:
s5.update(['ten','eleven']) # adding multiple values to a set using UPDATE function
s5

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [98]:
s5.remove('eleven') # REMOVE funtion is used to remove a value from the set
s5

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [100]:
s5.discard('ten') # DISCARD function is used to remave a value from the list
s5

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [102]:
s5.clear() # CLEAR function is used to clear/remove all the values from the set
s5

set()

In [106]:
del s5 # DELETE function is used to delete the variable from the memory
s5

NameError: name 's5' is not defined

# Copy Set

In [109]:
s5 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [111]:
s6 = s5 # this method is used to COPY values from one set to another
s6

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [113]:
id(s5), id(s6) # ID function is used to check the address of the variables in the memory, in this case the address will be same as it access values from the same memory location

(1828032050368, 1828032050368)

In [119]:
s7 = s5.copy() # COPY function is used to copy values from one set to another
s7

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operations

# i) Union Operation

In [123]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [125]:
a | b # '|' is the UNION symbol, which combines 2 variables

{1, 2, 3, 4, 5, 6, 7, 8}

In [127]:
a.union(b) # UNION operation is used to combine 2 variables

{1, 2, 3, 4, 5, 6, 7, 8}

In [129]:
a.union(b,c) # UNION operation is used to combine 2 variables

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [133]:
a.update(b) # UPDATE function is used to first combine the 2 sets, and then update the set with the combined values
a

{1, 2, 3, 4, 5, 6, 7, 8}

# ii) Intersection Operation

In [136]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [138]:
a & b # '&' is an INTERSECTION operation, which is used to find the common values in 2 sets

{4, 5}

In [140]:
a.intersection(b) # another way to use INTERSECTION operation, which is used to find the common values in 2 sets

{4, 5}

In [142]:
a.intersection_update(b) # this operation is used to first find the common items in both the sets, and then update the respective set
a

{4, 5}

# iii) Difference Operation

In [147]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [149]:
a - b # '-' is a DIFFERENCE operation, which is used to find the values which are not common in 2 sets

{1, 2, 3}

In [153]:
b.difference(a) # another way to use DIFFERENCE operation, which is used to find the values which are not common in 2 sets

{6, 7, 8}

In [155]:
b.difference_update(a) # this operation is used to first find the values which are not common in both the sets, and then update the respective set
b

{6, 7, 8}

# iv) Symmetric Difference

In [159]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [161]:
a ^ b # '^' is a SYMMETRIC DIFFERENCE operation, which is used to find the values which are not common in 2 sets

{1, 2, 3, 6, 7, 8}

In [163]:
a.symmetric_difference(b) # another way to use SYMMETRIC DIFFERENCE operation, which is used to find the values which are not common in 2 sets

{1, 2, 3, 6, 7, 8}

In [165]:
a.symmetric_difference_update(b) # this operation is used to find the values which are not common in 2 sets, and then update the respective set
a

{1, 2, 3, 6, 7, 8}

# v) Superset (parent), Subset (child), Disjoint (neighbour)

In [170]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40}

In [174]:
b.issubset(a) # subset -> if b is a child of a (prent)

True

In [176]:
a.issuperset(b) # superset -> if a is a parent of b (child)

True

In [178]:
c.isdisjoint(a) # disjoint -> if c is a neighbour of a (parent)

True

In [180]:
b.isdisjoint(a) # disjoint -> if c is a neighbour of a (parent)

False

# Built-In Functions

In [183]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [185]:
sum(a) # prints the sum of all the values in the set

45

In [187]:
max(a) # prints the maximum/highest value in the set

9

In [189]:
min(a) # prints the minimum/lowest value in the set

1

In [191]:
len(a) # prints the length of the set / number of values in a set

9

In [193]:
list(enumerate(a)) # prints the values in the set with their index

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [197]:
d = sorted(a) # prints the set values in ascending order
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
d = sorted(a, reverse = True) # prints the set values in descending order
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]