# List

# List Creation

In [2]:
l = [] # we created an empty string

In [4]:
print(type(l)) # type function tells us the type of the variable created

<class 'list'>

In [6]:
l1 = [1,2,3,4] # lsit can take integer numbers or int data type

In [8]:
l2 = [1.0,2.0,3.0,4.0] # list can take float numbers or float data type

In [10]:
l3 = ['a','b','c','d'] # lsit can take characters or string data type

In [12]:
l4 = [1,2.0,'c'] # list can take combination of inputs (int, float, string)

In [14]:
l5 = ['a',2,[3,4]] # list inside of a list is known as nested list

In [16]:
len(l5) # len gives us the number of values in a list

3

# List Indexing

In [19]:
l1[0] # prints the first value of the list

1

In [21]:
l1[-1] # prints the last value of the list

4

In [23]:
l3[0][0] # this is known as nested indexing, this means it first selects the zeroth index value and prints the zeroth index of that value

'a'

# List Slicing

In [26]:
l6  = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [28]:
l6[:] # prints the whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [30]:
l6[0:3] # prints all the values from oth index to (n-1) index, (3-1-> 2nd index)

['one', 'two', 'three']

In [32]:
l6[:5] # prints the fist 5 values

['one', 'two', 'three', 'four', 'five']

In [34]:
l6[-5:] # prints the last 5 values

['four', 'five', 'six', 'seven', 'eight']

# List Functions

In [37]:
l7 = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [39]:
l7.append('nine') # APPEND function is used to add an element to the list
l7

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [41]:
l7.insert(9,'ten') # INSERT function is used to add a value at the given index
l7

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [43]:
l7.remove('ten') # REMOVE function is used to remove a particular value from the list
l7

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [45]:
l7.pop() # POP fucntion is used to remove a value from the list, if we don't give any index, it will remove the last element by default
l7

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [47]:
l7.pop(7) # POP function is used to remove a value from the list, with the index we specified
l7

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [49]:
del l7[6] # DEL function is used to remove a value with the specified index from the list
l7

['one', 'two', 'three', 'four', 'five', 'six']

In [51]:
l7[0] = 1 # this will help us to replace the existing value with a new value
l7[1] = 2 # this will help us to replace the existing value with a new value
l7[2] = 3 # this will help us to replace the existing value with a new value
l7

[1, 2, 3, 'four', 'five', 'six']

In [53]:
l7.clear() # CLEAR function is used to delete all the value from the list, bringing it back to an empty list
l7

[]

In [55]:
del l7 # DELETE functions deletes the entire list from the memory location
l7

NameError: name 'l7' is not defined

# List Copying

In [57]:
l7 = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [59]:
l7_clone = l7 # creating a new list and assigning the same values to the new list
l7_clone

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [61]:
id(l7), id(l7_clone) # it will have the same address in the memory location

(2999082061568, 2999082061568)

# List Joining

In [64]:
l8 = ['one','two','three']
l9 = ['four','five','six']

In [66]:
l10 = l8 + l9 # (+) is used to join two lists
l10

['one', 'two', 'three', 'four', 'five', 'six']

In [68]:
l8.extend(l9) # EXTEND fucntion is used to append one list to another
l8

['one', 'two', 'three', 'four', 'five', 'six']

# List Membership

In [71]:
l8

['one', 'two', 'three', 'four', 'five', 'six']

In [73]:
'one' in l8 # we can check wethere the given value exists in the list or not

True

In [75]:
'seven' in l8 # we can check wethere the given value exists in the list or not

False

# Reverse and Sort the List

In [97]:
l8

['six', 'five', 'four', 'three', 'two', 'one']

In [99]:
l8.reverse() # REVERSE function is used to reverse the values in the list
l8

['one', 'two', 'three', 'four', 'five', 'six']

In [101]:
l10 = [9,5,2,99,12,88,34]
l10

[9, 5, 2, 99, 12, 88, 34]

In [103]:
l10.sort() # SORT function is used to sort the values in ascending order
l10

[2, 5, 9, 12, 34, 88, 99]

In [105]:
l10.sort(reverse = True) # SORT function is used to sort the values in descending order
l10

[99, 88, 34, 12, 9, 5, 2]

# Loop Through a List

In [110]:
l8.reverse()
l8

['one', 'two', 'three', 'four', 'five', 'six']

In [112]:
for i in l8:
    print(i)

one
two
three
four
five
six

# List Count

In [115]:
l8

['one', 'two', 'three', 'four', 'five', 'six']

In [119]:
l8.count('one') # COUNT function is used to return the number of times a value has occurred

1

In [121]:
l8.count('six')

1