# Python Data Structure

# 3) Set

In [78]:
s = {} # this is also another way to create a set 
s

{}

In [7]:
type(s)

dict

In [9]:
s1 = set() # this is the proper way to create a set sata strucuture, for interview purposes
s1

set()

In [29]:
s1 = {5,3,100,59,20} # if we define values with similar data type, then the output will be returned in ordered format
s1

{3, 5, 20, 59, 100}

In [31]:
s2 = {'s','k','l','m','i','o','t','r','a','d'} # if we define values with similar data type, then the output will be returned in ordered format
s2

{'a', 'd', 'i', 'k', 'l', 'm', 'o', 'r', 's', 't'}

In [70]:
s3 = {1,2.0,'a',2+5j} # values are of different data types, that's why output is returned in random order
s3

{(2+5j), 1, 2.0, 'a'}

In [37]:
print(s1)
print(s2)
print(s3)

{3, 100, 5, 20, 59}
{'o', 'k', 't', 's', 'm', 'r', 'l', 'i', 'a', 'd'}
{(2+5j), 2.0, 'a', 1}

In [39]:
print(type(s1))
print(type(s2))
print(type(s3))

<class 'set'>
<class 'set'>
<class 'set'>

# FUNCTIONS

In [44]:
s1.add(200) # ADD function is used to add a value in random place
s1

{3, 5, 20, 59, 100, 200}

In [46]:
s4 = s1.copy()
s4

{3, 5, 20, 59, 100, 200}

In [48]:
s1[0] # INDEXING is not allowed

TypeError: 'set' object is not subscriptable

In [50]:
s1[:] # SLICING is not allowed

TypeError: 'set' object is not subscriptable

In [54]:
s4.clear() # CLEAR funtion si used to delete all the values from the set
s4

set()

In [58]:
del s4 # DEL function is used to delete the set/variable from the memory
s4

NameError: name 's4' is not defined

In [72]:
s3

{(2+5j), 1, 2.0, 'a'}

In [74]:
s3.remove(2+5j) # REMOVE funstion is used to remove the given value parameter
s3

{1, 2.0, 'a'}

In [76]:
s3.pop() # POP function is used to remove a value without giving the argument/index
s3

{1, 'a'}