# Dictionary

# Dict Creation

In [3]:
d = dict() # creates an empty dictionary
d

{}

In [5]:
d = {} # another method to create an empty dictionary
d

{}

In [7]:
d = {1:'one' , 2:'two' , 3:'three'} # creating dictionary with integer key pairs
d

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
d = {'A':'one' , 'B':'two' , 'C':'three'} # creating dictionary with character key pairs
d

{'A': 'one', 'B': 'two', 'C': 'three'}

In [11]:
d = {'A':'one' , 1:'two' , 'C':'three'} # creating dictionary with mixed key pairs
d

{'A': 'one', 1: 'two', 'C': 'three'}

In [15]:
d.keys() # returns all the KEYS that we defined

dict_keys(['A', 1, 'C'])

In [17]:
d.values() # returns all the VALUES that we defined

dict_values(['one', 'two', 'three'])

In [19]:
d.items() # returns all the key-value pairs that we defined

dict_items([('A', 'one'), (1, 'two'), ('C', 'three')])

In [23]:
d = {'A':'one' , 1:'two' , 'C':['three','four','five']} # creating dictionary with multiple values for one key
d

{'A': 'one', 1: 'two', 'C': ['three', 'four', 'five']}

In [25]:
d = {1:'one' , 2:'two' , 'a':['three','four','five'], 'b':('six','seven','eight')} # creating dictionary with multiple values for one key
d

{1: 'one',
 2: 'two',
 'a': ['three', 'four', 'five'],
 'b': ('six', 'seven', 'eight')}

In [29]:
k = {'a','b','c','d'}
d1 = d.fromkeys(k) # creates a dictionary with only keys
d1

{'a': None, 'c': None, 'b': None, 'd': None}

In [33]:
k = {'a','b','c','d'}
v = 7
d1 = d.fromkeys(k,v) # creates a dictionary with key-value pair
d1

{'a': 7, 'c': 7, 'b': 7, 'd': 7}

In [35]:
k = {'a','b','c','d'}
v = [1,2,3,4]
d1 = d.fromkeys(k,v) # creates a dictionary with key-value pair
d1

{'a': [1, 2, 3, 4], 'c': [1, 2, 3, 4], 'b': [1, 2, 3, 4], 'd': [1, 2, 3, 4]}

In [39]:
v.append(50) # APPEND function is used to add a value to the dict
d1

{'a': [1, 2, 3, 4, 50, 50],
 'c': [1, 2, 3, 4, 50, 50],
 'b': [1, 2, 3, 4, 50, 50],
 'd': [1, 2, 3, 4, 50, 50]}

# Accessing Items

In [42]:
d = {1:'one' , 2:'two' , 3:'three', 4:'four'} 
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [48]:
d[1] # ACCESSING the value using key

'one'

In [50]:
d.get(1) # ACCESSING the value using GET method and key

'one'

In [60]:
d1 = {'Name':'Akshay' , 'ID': 7 , 'DOB': 2003 , 'job' :'Analyst'}
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Analyst'}

In [68]:
d1['Name']

'Akshay'

In [70]:
d1.get('job')

'Analyst'

# Add, Remove and Change Items

In [87]:
d1 = {'Name':'Akshay' , 'ID': 7 , 'DOB': 2003 , 'job' :'Analyst'}
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Analyst'}

In [89]:
d1['DOB'] = 2000 # change the values of the given key
d1['job'] = 'Trader' # change the values of the given key
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2000, 'job': 'Trader'}

In [91]:
d1['Profit'] = 50000 # add key-value pair to a dict
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2000, 'job': 'Trader', 'Profit': 50000}

In [93]:
d1.pop('ID') # POP function is used to remove the key-value pair from the dict
d1

{'Name': 'Akshay', 'DOB': 2000, 'job': 'Trader', 'Profit': 50000}

In [95]:
d1.popitem() # POPITEM function is used to remove a random key-value pair from the list

('Profit', 50000)

In [97]:
d1

{'Name': 'Akshay', 'DOB': 2000, 'job': 'Trader'}

In [101]:
del[d1['DOB']] # DEL function can also be used to delete a key-value pair
d1

{'Name': 'Akshay', 'job': 'Trader'}

In [105]:
d1.clear() # CLEAR function is used to clear all the key-value pairs from the dict
d1

{}

In [107]:
del d1 # DEL function is used to delete the dict from the memory
d1

NameError: name 'd1' is not defined

# Copy Dictionary

In [110]:
d1 = {'Name':'Akshay' , 'ID': 7 , 'DOB': 2003 , 'job' :'Trader'}
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Trader'}

In [114]:
d2 = d1 # this method is used to COPY values from one set to another
d2

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Trader'}

In [116]:
id(d1), id(d2) # ID function is used to check the address of the variables in the memory, in this case the address will be same as it access values from the same memory location

(2693353016512, 2693353016512)

In [118]:
d3 = d1.copy() # COPY function is used to copy values from one dict to another

# Looping Through a Dict

In [121]:
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Trader'}

In [125]:
for i in d1: # prints all the key-value pair
    print(i, ':', d1[i])

Name : Akshay
ID : 7
DOB : 2003
job : Trader

In [127]:
for i in d1: # only prints the values
    print(d1[i])

Akshay
7
2003
Trader

In [129]:
for i in d1: # only prints the keys
    print(i)

Name
ID
DOB
job

# Dictionary Membership

In [132]:
d1

{'Name': 'Akshay', 'ID': 7, 'DOB': 2003, 'job': 'Trader'}

In [134]:
'Name' in d1 # checks whether the given value is present in the dict or not

True

In [136]:
'Profit' in d1 # checks whether the given value is present in the dict or not

False

In [140]:
2003 in d1 # membership can only be done for KEYS, not VALUES

False