# Other Data Type to int

In [13]:
int(3.4) # when converting float -> int, only the first number will be counted (as int is number without decimal)

3

In [15]:
int(True) # when converting bool(True) -> int, it prints '1' because True = 1

1

In [17]:
int(False) # when converting bool(False) -> int, it prints '0' because False =

0

In [19]:
int('10') # when converting string -> int, we can print number because it prints what is in the quotes

10

In [23]:
int("text") # when converting string -> int, we cannot print text because it prints what is in the quotes

ValueError: invalid literal for int() with base 10: 'text'

In [25]:
int(1+2j) # when converting complex -> int, it gives error because it can only take real values

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# Other Data Type to float

In [28]:
float(1) # when converting int -> float, it prints 1.0 (as float is a number with decimal point)

1.0

In [30]:
float(True) # when converting bool(True) -> float, it prints 1.0 (as float is a number with decimal point) & float value of True = 1.0

1.0

In [32]:
float(False) # when converting bool(False) -> float, it prints 0.0 (as float is a number with decimal point) & float value of False = 0.0

0.0

In [34]:
float("text") # when converting string -> float, it gives error because float only takes real values

ValueError: could not convert string to float: 'text'

In [36]:
float('10') # when converting string -> float, we can print number as it is a real value

10.0

In [38]:
float(1+2j) # when converting complex -> float, it gives error because float only takes real values

TypeError: float() argument must be a string or a real number, not 'complex'

# Other Data Type to boolean

In [51]:
bool(1) # when converting int -> bool, it prints True until we pass a zero value

True

In [53]:
bool(0) # when converting int -> bool, it prints False as we passed a zero value

False

In [59]:
bool(2.0) # when converting float -> bool, it prints True until we pass a zero value

True

In [55]:
bool('10') # when converting string -> bool, it prints True until we pass a zero value

True

In [57]:
bool('ten') # when converting string -> bool, it prints True until we pass a zero value

True

In [67]:
bool(1+2j) # when converting complex -> bool, it prints True until we pass a zero value

True

In [69]:
bool(0+0j) # when converting complex -> bool, it prints False as we passed a zero value

False

# Other Data Type to string

In [72]:
str(10) # when converting int -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'10'

In [74]:
str(10.10) # when converting float -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'10.1'

In [76]:
str('ten') # when converting string -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'ten'

In [78]:
str('10') # when converting string -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'10'

In [80]:
str(True) # when converting bool -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'True'

In [82]:
str(False) # when converting bool -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'False'

In [84]:
str(1+2j) # when converting complex -> string, we get the value printed in quotes (as string is a group of characters in quotes)

'(1+2j)'

# Other Data Type to complex

In [86]:
# complex can either have 2 arguments or, if we pass singlw argumnet it gets counted as real value

In [88]:
complex(1, 2) # when converting int -> complex, we get the value printed in (a+bj) format (as complex is in the form a+bj)

(1+2j)

In [90]:
complex(32.0, 4) # when converting float -> complex, we get the value printed in (a+bj) format (as complex is in the form a+bj), a = real value so no decimal

(32+4j)

In [92]:
complex('ten') # when converting string -> complex, we get error because it can only take integer values, not text

ValueError: complex() arg is a malformed string

In [94]:
complex('10') # when converting string -> complex, we get the value printed because 10 is an integer value

(10+0j)

In [96]:
complex(True) # when converting bool -> complex, we get the value printed in (a+bj) format (as complex is in the form a+bj), True = 1

(1+0j)

In [98]:
complex(False) # when converting bool -> complex, we get the value printed in (a+bj) format (as complex is in the form a+bj), False = 1

0j

In [100]:
complex(1+3j) # when converting complex -> complex, we get the value printed in (a+bj) format (as complex is in the form a+bj)

(1+3j)

In [102]:
complex(10,20,30) # when converting int -> complex, we get error because it can only take 2 parameters, real and imaginary

TypeError: complex() takes at most 2 arguments (3 given)

In [75]:
complex(1+5.8j) # we can use int and float arguments also

(1+5.8j)

In [104]:
complex(False, True) # False = 0, True =1

1j

In [106]:
complex(False, False) # False = 0

0j

In [108]:
complex(True, True) # True = 1

(1+1j)

In [110]:
complex(10, 'a') # we cannot pass string arguments

TypeError: complex() second arg can't be a string

In [112]:
complex('10', '20') # we cannot pass string arguments

TypeError: complex() can't take second arg if first is a string